<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">_show_username_</li>
            <li class="navbar-text">with roles:</li>
            <li class="navbar-brand">_GET_ROLES_</li>
        </ul>
        <button class="btn btn-primary" href="/logout" type="submit">Log Out</button>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="list-group">
                    <br>
                    <a href="#" class="list-group-item list-group-item-action active">Admin</a>
                    <a href="#" class="list-group-item list-group-item-action">User</a>
                </div>
            </div>
        </div>

        <div class="header">
            <br>
            <h3 class="title" id="adminPanelHeader" style="margin-left: 25px;">Admin panel</h3>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container-fluid">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="form1-tab" data-toggle="tab" href="#form1" role="tab" aria-controls="form1" aria-selected="true">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="form2-tab" data-toggle="tab" href="#form2" role="tab" aria-controls="form2" aria-selected="false">New User</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="form1" role="tabpanel" aria-labelledby="form1-tab">
                        <div class="header">
                            <br>
                            <h5 class="title" id="allUsersLabel">All users</h5>
                            <br>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">User name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.getRoles}"></td>
                                <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">Update</button></td>
                                <!--                                <td><a th:href="@{/admin/delete-user/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>-->
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="form2" role="tabpanel" aria-labelledby="form2-tab">
                        <div class="header">
                            <br>
                            <h5 class="title" id="addUserLabel">Add new user</h5>
                            <br>
                        </div>
                        <form class="centered-form text-center" action="/admin/new-user" method="post">
                            <div class="form-group">
                                <label for="nameNew">Name</label>
                                <input type="text" id="nameNew" name="name" class="form-control" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <label for="ageNew">Age</label>
                                <input type="number" id="ageNew" name="age" class="form-control" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="emailNew">Email</label>
                                <input type="text" id="emailNew" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="passwordNew">Password</label>
                                <input type="password" id="passwordNew" name="password" class="form-control" placeholder="Password">
                            </div>
                            <br>
                            <button type="button" class="btn btn-success">Add new user</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label for="id">Id</label>
                                <input readonly type="number" class="form-control" th:field="*{id}" id="id" placeholder="Id">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" th:field="*{age}" id="age" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email">
                            </div>
                            <div class="form-group"><label for="password">Password</label>
                                <br>
                                <input type="text" class="form-control" th:field="*{password}" id="password" placeholder="New Password"></div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <br>
                                <select id="role" th:field="*{roles}" style="width: 50%;">
                                    <option value="1">User</option>
                                    <option value="2">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label for="idDelete">Id</label>
                                <input readonly type="number" class="form-control" th:field="*{id}" id="idDelete" placeholder="Id">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" th:field="*{name}" id="nameDelete" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" th:field="*{age}" id="ageDelete" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" th:field="*{email}" id="emailDelete" placeholder="Email">
                            </div>
                            <div class="form-group"><label for="password">Password</label>
                                <br>
                                <input type="text" class="form-control" th:field="*{password}" id="passwordDelete" placeholder="New Password"></div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <br>
                                <select id="roleDelete" th:field="*{roles}" style="width: 50%;">
                                    <option value="1">User</option>
                                    <option value="2">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
